/*--------------------- HOME PAGE ----------------------------*/

.bg {
    background-image: url("edit.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 3.9s;
    animation-timing-function: cubic-bezier(1,-0.5,1,1);

}

.category {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 700;
  letter-spacing: 15px;
  font-size: 2vw;
  color: #4d4d4d;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; 
}

.category:hover {
  opacity: 0.5;
  cursor: pointer;
}

.moveUp{
  text-align: center;
  position: fixed;
  left:0px;
  top:15px;
  height:30px;
  width:100%;
  font-size: 2vw;
  animation: fadeIn 5s;
  animation-timing-function: cubic-bezier(1,-0.79,.83,.67);

}

.moveLeft{
  transform: rotate(-90deg);
  position: absolute;
  top: 48%;
  /*float: left;*/
  left: 33%;
  font-size: 2vw;
  animation: fadeIn 5s;
  animation-timing-function: cubic-bezier(1,-0.79,.83,.67);
}

.moveDown{
  text-align: center;
  position:fixed;
  left:0px;
  bottom: 6.5%;
  height:30px;
  width:100%;
  font-size: 2vw;
  animation: fadeIn 5s;
  animation-timing-function: cubic-bezier(1,-0.79,.83,.67);
}

.moveRight{
  position: absolute;
  float: right;
  top: 48%;
  right: 32%;
  transform: rotate(90deg);
  font-size: 2vw;
  animation: fadeIn 5s;
  animation-timing-function: cubic-bezier(1,-0.79,.83,.67);
}

.descriptionbox{
  font-size: 1.8vw;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 6px;
  margin: auto;
  position: absolute;
  margin: 0 auto;
  top: 26%;
  right: 57%;
  font-size: 1.5vw;
}

.d1 {
  animation: fadeInMove 1.5s;
  animation-timing-function: cubic-bezier(0.42,0,1,1);
}

.d2 {
  position: relative;
  left: 95%;
  animation: fadeInMove 1.8s;
  animation-timing-function: cubic-bezier(1,-0.19,1,1);
}
.d3 {
  position: relative;
  left: 70%;
  animation: fadeInMove 1.8s;
  animation-timing-function: cubic-bezier(1,-0.19,1,1);
}
.d4 {
  position: relative;
  left: 90%;
  animation: fadeInMove 1.8s;
  animation-timing-function: cubic-bezier(1,-0.19,1,1);
}
.d5 {
  position: relative;
  left: 135%;
  animation: fadeInMove 1.8s;
  animation-timing-function: cubic-bezier(1,-0.19,1,1);
}

.nameType {
  margin: auto;
  position: absolute;
  margin: 0 auto;
  top: 60%;
  left: 56%;
  font-size: 1.7vw;
  animation: fadeIn 2.5s;
  animation-timing-function: cubic-bezier(1,-0.19,1,1);
}

.name{
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 700;
  font-size: 1.8vw;
  letter-spacing: 5px;
  color: gray;
}

.type{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  letter-spacing: 3px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translate3d(0, -4%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/*----------------------- EXPERIENCE AND PROJECTS --------------------------*/


.thumbnail {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}

.caption {
  position: absolute;
  bottom: 4px;
  color: #e3e3e3;
  background: rgba(0, 0, 0, .75);
  text-align: center;
  height: 0; 
  width: 100%;
  overflow: hidden;
  transition: all 200ms ease;
  font-size: 1vw;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.4vh;
}

.caption p {
  padding: 10px;
  overflow: hidden;
  max-height: 160px;
}

.caption1 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 1.1vw;
}

.caption2 {
  margin-bottom: 4px;
  font-style: italic;
  font-size: 0.9vw;

}

.caption3 {
  text-align: left;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 3px;
}

.thumbnail:hover > .caption {
  height: 160px;
}

.thumbnailCaption {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-top: 3px;
  color: #808080;

}

.column {
    float: left;
    width: 35%;
    padding: 3%;
    padding-bottom: 4%;
}

.column img {
    margin-top: 5%;
    width: 100%;
}

.row {
  margin-left: 16.5%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------------- ABOUT PAGE----------------------------*/

#aboutImage {
  display: block;
  transform: translateY(50%);
  margin: auto;
  width: 65%;
  height:0;
  padding-bottom: 65%;
  position: relative;
  box-shadow: 3px 3px 3px #888888;
  border-radius: 50%;
  background-image: url("../img/img2.jpg");
  background-size: cover;
  background-position: center;
}

.aboutImageContainer {
  display: inline-block;
  position: relative;
  float: left;
  text-align: left;
  width: 40%;
}

.aboutContainer {
  display: inline-block;
  position: relative;
  float: left;
  text-align: left;
  width: 50%;
  transform: translateY(8%);
}

.helloThere {
  font-size: 6vw;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px #888888;
  color: #4d4d4d;
}

.aboutBlurb {
  font-size: 1.5vw;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

b {
  font-weight: 400;
}

/*--------------------- SOCIAL MEDIA ICONS ----------------------------*/

.icon-button {
  background-color: white;
  border-radius: 4rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}


/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}


.facebook span {
  background-color: #3B5998;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.linkedin span {
  background-color: #1178b2;
}
.github span {
  background-color: #6e5494;
}

.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-linkedin {
  color: #1178b2;
}
.icon-button .fa-github {
  color: #6e5494;
}


@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }


  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
  body {

    padding: 10px;
  }
}


/*----------------------- ARROWS --------------------------*/

.rightArrow {
  height: 4%;
  width: 4%;
  background-image: url("../img/right.png");
  background-size: cover;
  background-position: center;
  float: right;
  margin-right: 2.5%;
  position: relative;
  top: 50%;
  bottom: 50%;
}

.leftArrow {
  height: 70px;
  width: 70px;
  top: 47.5%;
  margin-left: 45px;
  display: inline-block;
  position: relative;
  float: left;
}

.upArrow {
  height: 70px;
  width: 70px;
  margin-left: 48.5%;
  margin-top: 2.5%;
}

.downArrow {
  width: 70px;
  margin-left: 49%;
  position: absolute;
  bottom: 2.5%;
}

.rightArrow:hover {
  cursor: pointer;
}
.leftArrow:hover {
  cursor: pointer;
}
.upArrow:hover {
  cursor: pointer;
}
.downArrow:hover {
  cursor: pointer;
}

/*---------------------- BLOG ---------------------------*/

.date {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #989898;
  letter-spacing: 8px;
  margin-left: 15%;
  font-weight: 400;
}

.postTitle {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
  position: relative;
  -webkit-transition: all 3s;
  transition: .3s;
}

.postText {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  color: #888888;
  text-align: center;
  line-height: 155%;
}

#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    -webkit-transition: all 1s;
    box-shadow: 2px 2px 2px #888888;
}

#carousel-prev1 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    -webkit-transition: all 1s;
    box-shadow: 2px 2px 2px #888888;
}

#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    -webkit-transition: all 1s;
    box-shadow: 2px 2px 2px #888888;
}

#carousel-next1 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    -webkit-transition: all 1s;
    box-shadow: 2px 2px 2px #888888;
}

.carousel-container {
  width: 960px;
  height: 640px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

#carousel {
  width: 5760px;
  height: 640px;
  margin-left: 0px;
  -webkit-transition: all 0.3s;
}

#carousel1 {
  width: 5760px;
  height: 640px;
  margin-left: 0px;
  -webkit-transition: all 0.3s;
}

.carousel-item {
  width: 960px;
  position: relative;
  height: 640px;
  float: left;
}

.carousel-img {
  height: 640px;
  width: 100%;
}

.sect {
  width: 100%;
  height: 640px;
  position: relative;
}

.img-scaled {
  width: 100%;
  height: 100%;
}

/*-------------------- SCROLL TOP BUTTON -----------------------------*/

.scrollTop {
  right: 6%;
  bottom: 10px;
  background-color: #A9A9A9;
  padding: 20px;
  opacity: 1;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  display: block;
  position: fixed;

}

.scrollTop:hover {
  cursor: pointer;
}

/*-------------------------------------------------*/

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.gray {
  color: #e3e3e3;
}

.white {
  color: white;
}


/*-------------------------------------------------*/

